{% extends "base.html" %}

{% block title %}Reset the password{% endblock %}

{% block content %}
    <h1>Reset your pasword</h1>
    {% if validlink %}
        <p>Please enter your new password twicw:</p>
        <form action="." method="post">
            {% csrf_token %}
            {{form.as_p}}
            <p><input type="submit" value="Change my password"</p>
        </form>
    {% else %}
        <p>The password reset link was invalid, possibly because it has already been taken</p>
    {% endif %}
{% endblock %}